# This file will contain all necessary modules which will need to be installed to run the tests
Flask>=2.1.1  # Flask is used to create the web server for the calculator API
Werkzeug>=2.1  # This is a dependency for Flask and should be compatible with your Flask version

# Locust is used for load testing the calculator API
locust

# Unittest is built into Python, so it's generally not included in requirements.txt

